/*
Mystic Purple: #7D5BA6
Forest Green: #2F5233
Royal Blue: #0E4D92
Earthen Brown: #5C3A24
Sunset Gold: #F2C14E

#DFE0DF
#FFF8EA
#A48E65
#F2C14E #4e7ff2
 */

:root {
  --main-subtext-color: #DFE0DF;
  --second-subtext-color: #FFF8EA;
  --main-color: #F2C14E;
  --main-color-focus: #fad378;
  --second-color: #A48E65;
  --valid-color: #286af8;
  --valid-color-focus: #6596ff;
  --invalid-color: #ff1c27;
  --invalid-color-focus: #ee4b2b;
  --input-color: #636363;
}

@font-face {
  font-family: baldur;
  src: url(./fonts/Baldur.ttf);
}
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.bg {
  background-image: url("./pictures/ElyriaEdge.jpeg");
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;

  padding: 0;
  margin: 0;
}

h1 {
  padding-bottom: 10px;
  font-size: 3em;
  text-shadow: 2px 2px black;
  color: var(--main-color);
  text-align: center;
}

form {
  background-color: white;
  height: 70%;
  width: 20em;
  margin:90px auto;
  padding: 3rem;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px black;
}

.dropdown{
  height: 35px;
}

.input-container-row {
  display: flex;
  align-items: center;
  max-height: 50px;
  margin-bottom: 10px;
}

.row-container-content {
  line-height: .9;
}

.input-container {
  padding-top: 10px;
  position: relative;
}

.text-input, .valid, .invalid {
  width: 100%;
  height: 25px;
}

.text-input {
  border: 1px solid var(--input-color);
}

input.valid {
  border: 1px solid var(--valid-color);
}

input.invalid {
  border: 1px solid var(--invalid-color);
}

input.invalid:focus {
  border: 3px solid var(--invalid-color-focus);
}

.text-input:focus {
  border: 3px solid var(--valid-color-focus);
}

.tooltip {
  font-size: 14px;
  background-color: var(--second-color);
  color: var(--main-subtext-color);
  width: 200px;
  position: absolute;
  padding: 5px 10px;
  text-align: left;
  right: -.6em;
  top: 4.3em;
  z-index: 1; 
}

.rules {
  visibility: hidden;
}

.input-container:focus-within>.rules {
  visibility: visible;
}

.checkboxes {
  margin-top: 50px;
}


button {
  margin-top: 30px;
  width: 100%;
  height: 35px;
  border-style: none;
  font-size: 24px;
  color: white;
  background-color: var(--main-color);
}

button:hover {
  background-color: var(--main-color-focus);
}
